absl-py==0.10.0
astor==0.8.1
CacheControl==0.12.6
click==7.1.2
Flask==1.1.2
gast==0.3.3
grpcio==1.32.0
h5py==2.10.0
uWSGI==2.0.19.1
importlib-metadata==3.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
Keras==2.4.3
Markdown==3.3.3
MarkupSafe==1.1.1
numpy==1.19.4
pickleshare==0.7.5
Pillow==7.0.0
protobuf==3.12.4
PyYAML==3.13
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.15.0
tensorflow==2.4.0
termcolor==1.1.0
Werkzeug==1.0.1
wrapt==1.12.1
zict==2.0.0
zipp==3.4.0
